.main-section {
    display: flex;
    height: 100vh;
    margin: 0 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1E1E1E;
}


.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 220px;
    text-align: center;
    gap: 80px;
}

.content-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.content-section-text-h2 {
    margin: 0;
    white-space: nowrap;
}

p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}

.go-back {
    cursor: pointer;
    text-decoration: underline;
    color: #F2B429;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.17px;
    text-decoration-line: underline;
    margin-top: 105px;
}

@media screen and (max-width: 899px) {
    .main-section {
        position: fixed;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 599px) {
    .main-section {
        position: fixed;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 135%;
        letter-spacing: 0.17px;
    }
    
    .go-back {
        margin-top: 0;
    }
}