.sideBar {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .0.3s ease;
    display: flex;
    background: #111112;
    justify-content: space-between;
    flex-direction: column;
}

.sideBar-links {
    padding: 32px 24px 72px 24px;
}

.sideBar-link {
    cursor: pointer;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 12px;
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 8px;
    isolation: isolate;
    white-space: nowrap;
}

.sideBar-link:hover {
    background: rgba(51, 51, 51, 0.6);
    border-radius: 6px;
}

.sideBar-link.active {
    background: rgba(51, 51, 51, 0.6);
    border-radius: 6px;
    font-weight: 700;
}

.sideBar-top-images {
    display: flex;
    justify-content: space-between;
}

.sideBar-top-images.close {
    justify-content: center;
}