.main-active {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: flex-start;
    top: 0;
    left: 0;
}

.second-active{
    width: 100%;
}